


/*
    Remember to style the fonts to suit the website
*/




/*<body>*/
body
{
    margin: 0;
}
/*</body>*/

/*<overlays>*/
#overlay
{
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
}
/*</overlays>*/